@model Team
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Team</h2>
            <h3>Our Hardworking <span>Team</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                        <img src="~/assets/img/team/team-@(Model.Id).jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="@Model.Icon1"></i></a>
                            <a href=""><i class="@Model.Icon2"></i></a>
                            <a href=""><i class="@Model.Icon3"></i></a>
                            <a href=""><i class="@Model.Icon4"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4> @Model.Title</h4>
                        <span>@Model.Desc</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->
